.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6F4E37;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
 }